# 적용법은 링크 참고
# https://velog.io/@johyerim06/IntelliJ-.env-%ED%8C%8C%EC%9D%BC-%ED%99%98%EA%B2%BD%EB%B3%80%EC%88%98-%EC%97%B0%EB%8F%99EnvFile-%ED%94%8C%EB%9F%AC%EA%B7%B8%EC%9D%B8

# 복사 후 .env 파일에 값 넣을 것

# 리눅스 or Mac은 터미널에 Windows는 Git Bash에 입력
# openssl rand -base64 32
# gateway, user-service에 적용 할 것
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
DB_PASSWORD=
DEV_PROVISION_KEY=
DEV_DOMAIN=
REDIS_HOST=
SPRING_PROFILES_ACTIVE=
