# Runtime values are written by deploy/scripts/deploy.sh. Keep this file key-only.
DB_PASSWORD=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
DEV_PROVISION_KEY=
DEV_DOMAIN=
CONFIG_SERVER_IMAGE=
EUREKA_SERVER_IMAGE=
GATEWAY_IMAGE=
USER_SERVICE_IMAGE=
HUB_SERVICE_IMAGE=
COMPANY_PRODUCT_SERVICE_IMAGE=
DELIVERY_SERVICE_IMAGE=
ORDER_SERVICE_IMAGE=
NOTIFICATION_SERVICE_IMAGE=
